<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Treasure mystery</title>
</head>

<body>
    <header>
        <section>
            <a href="/form">🪙go to the code🪙</a>
            <a href="/login">🔏log in</a>
            <button id="themeBtn">theme</button>
        </section>
    </header>


    <h1>Enter the secret code to continue🔒</h1>
    <form action="/form" method="POST">
        <label for="code" class="labell">Enter the code here:</label><br>
        <input type="text" name="code" id="treasure_code" required>
        <input type="submit" value="submit" class="inpbtn">
        <footer>
            <p>©️2025<br>made by a</p>
        </footer>
        <script src="/script.js"></script>
</body>

</html>