<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Treasure Hunt</title>
</head>

<body>
    <header>
        <nav>
            <a href="/form">🪙go to the code🪙</a>
            <a href="/login">🔏log in</a>
            <button id="themeBtn">theme</button>
        </nav>
    </header>
    <section>
        <h1>Treasure hunt</h1>
        <div>
            <p>To find 🪙treasure🪙 click down</p>
        </div>
        <a href="/form" class="coin">🪙</a>
    </section>
    <footer>
        <p>©️2025<br>made by a</p>
    </footer>
    <script src="/script.js"></script>
    
</body>

</html>