<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login form</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <!--action="/login" method="POST"-->
        <form id="loginForm" >
            <input id="login"  name="login" placeholder="Логін" /><br>
            <input id="password" name="password" type="password" placeholder="Пароль" /><br>
            <input name="email" type="email" placeholder="Почта" /><br>
            <button>Увійти</button>
            <p id="msg"></p>
        </form>
        <script src="/script.js"></script>
    </body>
</html>