<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Treasure</title>
</head>
<body>
    <header>
        <section>
            <a href="/form">🪙go to the code🪙</a>
            <a href="/login">🔏log in</a>
            <button id="themeBtn">theme</button>
        </section>
    </header>
    <h1>CONGRATULATIONS!</h1>
    <p>you found the treasure!</p>
    <h1>🪙🪙🪙🪙🪙🪙🪙🪙🪙🪙</h1>
    <footer><p>©️2025<br>made by a</p></footer>
    <script src="/script.js"></script>
</body>
</html>